/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
}
body{
    background-color:#212529;
}
/* CSS VARIABLE */
:root{
    --navbar-height: 59px;

}
/*NAVIGATION BAR: LOGO AND IMAGE */
#logo{
    margin: 34px 45px;
}
#logo img{
    margin: -18px -17px;
    height:60px ;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    
}
/* NAVIGATION BAR */
/*NAVIGATION BAR: List styling */
#navbar{
    display:flex;
    align-items: center;
    position: relative;
    top: 0px;
    transition:all 1s ease-in-out 1s ;
    
}

#navbar ul{
    display: flex;
    position: absolute;
    right: 34px;
    top: 24px;
    
}

#navbar ul li{

list-style:none;
font-size: 1.3rem;
    
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Baloo Bhaina 2', cursive;
    
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    transform:scale(1.2) ;
    /* color: rgb(7, 6, 6); */
    /* background-color: white; */
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    /* height: 610px; */
    /* border-radius: px; */
    transform:scale(1.1) ;
    
}

/* HOME SECTION */
#home{
    display:flex;
    flex-direction: column;
    height: 264px;
    padding: 54px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url(image/packs-163497.jpg) no-repeat center center/cover;
    position: absolute;
    height: 62%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhaina 2', cursive;
    

}
 /* UTILITY CLASS */
 .primary{
    font-size: 3.8rem;
    padding: 21px;
     justify-content: center;
     align-items: center;
     font-family: 'Dancing Script', cursive;
     color: white;
     position:relative;
    }
.secondary{
    font-size:2.2rem;
    padding: 9px 38px;
    font-family: 'Baloo Bhaina 2', cursive;
    

    }
.btn{
    padding: 4px 23px;
    font-size: 13px;
    border: 2px solid white;
    border-color: white;
    color: black;
    border-radius: 5px;
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 24px 152px;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    justify-content: center;
    align-items: center;
    
}
.btn a{
   
    color: black;
    
    text-decoration: none;
}
.btn:hover{
    padding: 4px 23px;
    font-size: 13px;
    border: 2px solid rgb(29, 27, 27);
    border-color: rgb(12, 12, 12);
    color: rgb(12, 11, 11);
    border-radius: 5px;
    font-family: 'Baloo Bhaina 2', cursive;
    margin: 24px 152px;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform:scale(1.1) ;
    text-decoration: none;

}
.center{
    text-align: center;
    margin: 50px;
    height: fit-content;
    padding: 2px;
    /* font-size: 39px; */
    font-family: 'Baloo Bhaina 2', cursive;
}
.services-container h1{
    /* margin: 61px; */
    color: white;
    padding: 2px 663px;
    font-size: 39px;
    font-family: 'Dancing Script', cursive;

}
/* services section */
#services{
    margin: 34px;
    display: flex;
    transition-property: background-color;
    transition:all 1s ease-in-out 1s;
   
}
#services .box{
    border:5px solid  rgb(48, 46, 46);
    color: white;
    
    
    padding:34;
    margin: 3px 6px;
    
 
    
}
#services .box{
    border:5px solid  rgb(0, 0, 0);
    color: white;
    padding:34;
    margin: 3px 6px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#services .box:hover{
    border:5px solid  rgb(133, 74, 74);
    color: rgb(7, 6, 6);
    background-color: white;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    height: 400px;
    border-radius: 20px;
    transform:scale(1.2) ;
   
    /* width: 940px; */
    
    
    padding:34;
    margin: 3px 6px;
    /* border-radius: 20px; */
    
}

#services .box img{
   padding: 12px;
  height: 158px;
  display: flex;
  margin: 12px 116px;
  transition:all 1s ease-in-out ;
 
}
#services .box#view img{
    padding: 12px;
   height: 158px;
   width: 159px;
   display: flex;
   margin: 12px 116px;
   transition:all 1s ease-in-out ;
  
 }
#services .box p{

font-family: 'Baloo Bhaina 2', cursive;
}


footer{
    background: black;
    color: white;
    padding: 1px 0px;
    
}